<footer class="footer">
    <p>
        <strong>Base Camp</strong>
        by
        <a href="https://github.com/suomato">Toni Suomalainen</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
    </p>
</footer>

</div>
{# end <div id="app"> #}

{{ function('wp_footer') }}
</body>
</html>
